<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I'll Donate Page</title>
    <link rel="stylesheet" href="../styles/donatepsty.css">
</head>
<body>
    <div class="main 1">
        <button class="month"> Month </button>
        <div class="month_options">
            <ul id="1"> January </ul>
            <ul id="2"> February </ul>
            <ul id="3"> March </ul>
            <ul id="4"> April </ul>
            <ul id="5"> May </ul>
            <ul id="6"> June </ul>
            <ul id="7"> July </ul>
            <ul id="8"> August </ul>
            <ul id="9"> September </ul>
            <ul id="10"> October </ul>
            <ul id="11"> November </ul>
            <ul id="12"> December </ul>
        </div>
    </div>
    <div class="main 2">
        <button class="days"> Days </button>
        <div class="day_options">
            <ol id="1"> a </ol>
            <ol id="12"> b </ol>
            <ol id="18"> c </ol>
            <ol id="13"> d</ol>
        </div>
    </div>
    <div class="main 3"> 
        <button class="time"> Time </button>
        <div class="times">
            <ul> 7:30 am</ul>
            <ul> 9:30 am</ul>
            <ul> 11:30 am</ul>
            <ul> 1:30 pm</ul>
            <ul> 3:30 pm</ul>
            <ul> 5:30 pm</ul>
            <ul> 7:30 pm</ul>
        </div>
    </div>    
        
            
    
</body>
</html>