<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I'll Donate Page</title>
    <link rel="stylesheet" href="../styles/donatepsty.css">
</head>
<body>
    <div class="main">
        <button class="month"> Month </button>
        <div class="month_options">
            <ul id="1"> January </ul>
            <ul id="2"> February </ul>
            <ul id="3"> March </ul>
            <ul id="4"> April </ul>
            <ul id="5"> May </ul>
            <ul id="6"> June </ul>
            <ul id="7"> July </ul>
            <ul id="8"> August </ul>
            <ul id="9"> September </ul>
            <ul id="10"> October </ul>
            <ul id="11"> November </ul>
            <ul id="12"> December </ul>
        </div>
        <button class="days"> Days </button>
            <ol id="1"> </ol>
            <ol id="12"> </ol>
            <ol id="18"> </ol>
            <ol id="13"> </ol>
    </div>
</body>
</html>