<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I'm Hungry</title>
    <link rel="stylesheet" href="../styles/hungrypsty.css">
</head>
<body>
    <form action="/confirmation" method="post">
        <% if(events.length > 0) { %>
            <div class="option_group">
                <% for(let event of events) { %>
                    <div class="option"> 
                    
                    </div>
                <% } %>
                
            </div>
        <input type="submit" value="Confirm">
        <% } else { %>
           <p> No Options Available at This Time </p> 
        <% } %>
    </form>
    <ul>
        <% for(let lol of events) {%>
            <p><%= lol.swipes %></p>
          <% } %>
      </ul>
</body>
</html>