<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I'm Hungry</title>
    <link rel="stylesheet" href="../styles/hungrypsty.css">
</head>
<body>
    <form action="/confirmation" method="post" id="confirmationOne">
        <% if(events.length > 0) { %>
            <div class="option_group">
                <% for(let i = 0; i < events.length; i++) { %>
                    <div class="option"> 
                        <p>Location: <%= events[i].location %></p>
                        <p>Date: <%= events[i].date.getMonth() + 1 %> - <%= events[i].date.getDate() %></p>
                        <p>Swipes: <%= events[i].swipes %></p>
                        <button type="submit" form="confirmationOne" value="<% i %> "> Confirm</button>
                    </div>
                <% } %>
                
            </div>
        
        <% } else { %>
           <p> No Options Available at This Time </p> 
        <% } %>
    </form>
    
</body>
</html>