<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hungry Students and Bountiful Benefactors</title>
    <link rel="stylesheet" href="../styles/mainpstyle.css">
</head>
<body>
    <div class="options">
        <button class="donate">I'll Donate</button>
        <button class="hungry">I'm Hungry</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"> </script>
    <script>
        $(document).ready(() => {
            $(".donate").on("click", () => {
                
            })
        })
    </script>
</body>
</html>