<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hungry Students and Bountiful Benefactors</title>
    <link rel="stylesheet" href="../styles/mainpstyle.css">
</head>
<body>
    <h1>Welcome <%= name %>!</h1>
    <p>Please Select Your Option:</p>
    <div class="options">
        <button type="button" onclick="location.href='/donate'">Donate</button>
        <button type="button" onclick="location.href='/hungry'">Hungry</button>
    </div>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
      </form>
      <a href="/separate">Separate</a>
</body>
</html>